body{
    font-family: sans-serif;
    background-color:paleturquoise;
}
h1{
    background-color: turquoise;
    font: size 8px;;
}
h2{
    background-color: turquoise;
    font: size 8px;;   
}
h3{
    background-color: turquoise;
    font: size 8px;;
}